$tablet-breakpoint: 600px;
$laptop-breakpoint: 769px;

.productDescContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px 3rem;

  @media screen and (max-width: $laptop-breakpoint) {
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
}

.productName {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0;
  border-bottom: 3px solid black;
  padding-bottom: 0.2em;
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  height: 30rem;
  width: 90%;
  padding: 0 1rem;

  @media screen and (min-width: $tablet-breakpoint) {
    height: 40%;
    width: 60%;
  }

  @media screen and (max-width: $laptop-breakpoint) {
    width: 100%;
  }
}

.swiper-wrapper {
  // align-items: center; /* add this will all relevant prefixes */
}

.swiper {
  width: 100%;
  height: 100%;
  & .swiper-button-next,
  & .swiper-button-prev {
    color: black;
    background-color: rgba(255,255,255,0.5);
    width: 4.5rem;
    height: 4.55rem;
    border-radius: 50%;
    transform: scale(0.8);
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.6)
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f1f1f1;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  // height: 100%;
  object-fit: cover;
}

.productInfoContainer {
  width: 40%;
  padding: 2rem;
  margin: 0 40px 0 20px;
  border: 1px solid grey;
  border-radius: 6px;
  @media screen and (max-width: $laptop-breakpoint) {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0 1rem;
  }
}

.description {
  font-size: 1.1rem;
}